<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <context-param> 
           <param-name>file-upload</param-name> 
      <param-value>
        e:\demo
      </param-value> 
   </context-param>
   <servlet>
  	<servlet-name>SigninServlet</servlet-name>
  	<display-name>SigninServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.SigninServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageServlet</servlet-name>
  	<display-name>MessageServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InboxServlet</servlet-name>
  	<display-name>InboxServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.InboxServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<display-name>UploadServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetrievePhotoServlet</servlet-name>
  	<display-name>RetrievePhotoServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.RetrievePhotoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CaptchaServlet</servlet-name>
  	<display-name>CaptchaServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.CaptchaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePassword</servlet-name>
  	<display-name>UpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClickServlet</servlet-name>
  	<display-name>ClickServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.ClickServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RedirectServlet</servlet-name>
  	<display-name>RedirectServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.RedirectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuizServlet</servlet-name>
  	<display-name>QuizServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.QuizServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NextQuizServlet</servlet-name>
  	<display-name>NextQuizServlet</display-name>
  	<description></description>
  	<servlet-class>com.messaging.controller.NextQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SigninServlet</servlet-name>
  	<url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageServlet</servlet-name>
  	<url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InboxServlet</servlet-name>
  	<url-pattern>/InboxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetrievePhotoServlet</servlet-name>
  	<url-pattern>/RetrievePhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CaptchaServlet</servlet-name>
  	<url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePassword</servlet-name>
  	<url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClickServlet</servlet-name>
  	<url-pattern>/ClickServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RedirectServlet</servlet-name>
  	<url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuizServlet</servlet-name>
  	<url-pattern>/QuizServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NextQuizServlet</servlet-name>
  	<url-pattern>/NextQuizServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>/redirect.jsp</welcome-file>
  </welcome-file-list>
</web-app>
