<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 <servlet>
 <servlet-name>s1</servlet-name>
 <servlet-class>com.firstservlet.servlets.FirstExample</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>WatchVideo</servlet-name>
 	<display-name>WatchVideo</display-name>
 	<description></description>
 	<servlet-class>com.firstservlet.servlets.WatchVideo</servlet-class>
 </servlet>
 
 
 <servlet-mapping>
 <servlet-name>s1</servlet-name>
 <url-pattern>/add</url-pattern>
 
 


 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>WatchVideo</servlet-name>
 	<url-pattern>/WatchVideo</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
 <welcome-file>stream.jsp</welcome-file></welcome-file-list>

</web-app>
